* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html{
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: #7785c1;
}

#container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}

#header{
  padding-top: 40px;
  width: 100%;
  display: flex; 
  justify-content: center;
}

#squird-pic{
  height: 100px;
}

#spacing-box{
  display: flex;
  justify-content: center;
  width: 50%;
}

#title{
  height: 80px;
  padding: 5px;
  width: 330px;
  display: flex;
  border: solid gold;
  justify-content: center;
  -webkit-text-fill-color: skyblue;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 4rem;
  color: skyblue;
  box-shadow: 1px 5px 5px black;
}

#word-grid{
  display: flex;
  width: 25rem;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}

.row{
  height: 100%;
}

.tile{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: skyblue;
  -webkit-text-fill-color: skyblue;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 5px 5px 5px black;
  height: 4rem;
  width: 4rem;
  border: solid black;
  font-size: 3.2rem;
}

.Correct{
  background-color: rgb(15, 172, 15);
}

.Almost{
  background-color: gold;
}

.Neutral{
  background-color: rgb(79, 101, 223);
}

@media (max-width: 640px) {
  #squird-pic {
    visibility: hidden;
  }
}